src/main/resources/AuditTrail.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AuditTrail" type="AuditTrailType"/>
    <xs:complexType name="AuditTrailType">
        <xs:sequence>
            <xs:element name="userID">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="20"/>
                        <xs:pattern value="\S.*"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>